*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EFF4F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    box-shadow:  10px  10px 15px #58814b;
    border-radius: 15px;
}
.name{
    font-size: 50px;
}
   .counter{
   font-size: 80px;
   font-weight: bolder;
   padding: 20px 0px;

   }
   .lowerBtn,.prevBtn{
    outline: none;
    font-size: 30px;
    padding: 7px 15px;
    margin: 0px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.4s linear;
   }
   .lowerBtn:hover{
    background-color:red ;
    border-radius: 5px;
   }
.prevBtn:hover{
    background-color: green;
    border-radius: 5px;
}
